<!DOCTYPE html>
<html>
    <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
</head>

<body>
    <div id="app">

       <!-- PLZ start ------------------------------------------------------------------------------------------------------------------------------->
        <input type="text" placeholder="plz" v-model.trim="plz"><span v-show="plz.length == 4 && plz_orte.length > 0">{{ort}}</span>
        <ul v-show="!plz_valid && plz.length > 1">
            <li v-for="plz in plz_orte" v-on:click="select_plz">{{plz.zip + " " + plz.town}}</li>
        </ul>
        <br>
        <!-- PLZ ende ------------------------------------------------------------------------------------------------------------------------------->

        <!-- Strasse start -------------------------------------------------------------------------------------------------------------------------->
        <input type="text" placeholder="strasse" v-if="plz.length == 4 && plz_orte.length > 0" v-model="strasse">
        <ul v-show="!strasse_valid && strasse.length > 2 && plz.length == 4 && plz_orte.length > 0">
            <li v-for="strasse in strassen" v-on:click="select_street">{{strasse.street}}</li>
        </ul>
        <!-- Strasse ende -------------------------------------------------------------------------------------------------------------------------->

        <br>
        <input type="text" placeholder="hausnummer" v-if="strasse.length > 1 && plz.length == 4" v-model="house_nr">
        <ul v-show="!house_nr_valid && house_nr.length > 0 && strasse.length > 1 && plz.length == 4">
            <li v-for="house_nr in house_nrs" v-on:click="select_house_nr">{{house_nr.house}}</li>
        </ul>
        <br>
        <button v-on:click="check()">prüfen</button>
        <p>{{loading}}</p>
        
        <p v-html="info"></p>
    </div>
</body>
<script type="text/javascript" src="vue_checker.js"></script></html>
